{% extends 'base.html.twig' %}

{% block title %}Subjects index{% endblock %}

{% block body %}
    <h1>Subjects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Semester</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.credits }}</td>
                <td>{{ subject.semester }}</td>
                <td>{{ subject.createdAt ? subject.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ subject.updatedAt ? subject.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_subjects_show', {'id': subject.id}) }}">show</a>
                    <a href="{{ path('app_subjects_edit', {'id': subject.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subjects_new') }}">Create new</a>
{% endblock %}
